<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="antialiased text-gray-900 bg-gray-100">
    <nav class="bg-white shadow">
      <div class="container mx-auto px-6 py-3">
        <div class="flex justify-between items-center">
          <div>
            <a class="text-2xl font-bold text-gray-800" href="#">Flask Auth</a>
          </div>
          <div class="flex items-center -mx-2">
            <a
              class="mx-2 text-gray-800 hover:text-gray-600"
              href="/"
              >Home</a
            >
            {% if"username" in session %}
            <a
              class="mx-2 text-gray-800 hover:text-gray-600"
              href="/dashboard"
              >Dashboard</a>
              <a
              class="mx-2 text-gray-800 hover:text-gray-600"
              href="/logout"
              >Logout</a
            >
              {% else %}
            <a 
              class="mx-2 text-gray-800 hover:text-gray-600"
              href="/register"
              >Register</a
            >
          {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <div class="flex flex-col justify-center items-center min-h-screen">{% block content %}{% endblock %}</div>
  </body>
</html>
